h1 {
    text-align: center;
    color: white;
}

#header {
    background-color: #333;
    width: 1900px;
    height: 80px;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-color: black;
    width: 1900px;
    height: 20px;
}

nav > ul > li {
    display: inline-block;
    text-align: center;
    width: 10%;
}

body{
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

#main{
height: 500px;
width: 1900px;
background-color: orange;
}

#slider {
    width: 800px;
    height: 500px;
    align-content: center;
    }
#slider > img {
    width: 800px;
    height: 500px;
    align-content: center;
}